* {
    margin: 0;
    padding: 0;
}

::ng-deep .search-highlight {
    color: #1f8dd6;
    font-weight: normal;
}

ul.search-results {
    list-style:none;
    position:relative;
    padding:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    overflow: auto;
    max-height: 400px;
}

ul.search-results li, :host ::ng-deep li {
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

ul.search-results .result-wrapper:focus {
    outline: none;
    background-color: darkgray;
}

ul.search-results .result-wrapper:hover:not(:focus) {
    outline: none;
    background-color: #eee;
}

.ngx-livesearch-input {
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 9px;
    font-size: 17px;
    margin: 0;
    outline: 0;
    width: 100%;
    padding-right: 50px;
}

.ngx-livesearch-input:focus {
    box-shadow: 0 0 8px #88d5e9;
    border: 1px solid #88d5e9;
}

.livesearch-wrapper {
    display: inline-block;
    min-width: 300px;
    width: 25%;
    position: relative;
    box-sizing: border-box;
}

.see-all-result-link {
    padding: 0;
}

.see-all-result-link div {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 0px 0px 5px 5px;
}

.see-all-result-link a {
    font-size: 18px;
    color: darkblue;
    text-decoration: none;
}


.close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  .livesearch-input-wrapper {
      position: relative;
  }

  .no-result-message {
    padding: 10px;
    font-size: 19px;
  }

.loader {
    border: 3px solid #e6dfdf;
    border-radius: 50%;
    border-top: 3px solid #555;
    width: 19px;
    height: 19px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin .8s linear infinite;
    position: absolute;
    top: 8px;
    right: 50px;
}



@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


