:host ::ng-deep .search-highlight{
    color: black;
    font-weight: 700;
    background: khaki;
}

ul.search-results {
    list-style:none;
	position:relative;
    padding:0;
    display: flex;
    flex-direction: column;
}

ul.search-results li {
    text-decoration: none;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
    align-self: baseline;
}

ul.search-results li:focus {
    outline: none;
    background-color: aqua;
}