<input type="text" #searchText placeholder="Search..." [formControl]="searchInput" (keydown)="keyPressedOnSearchInput($event)">

<div class="search-result">
    <div class="no-result-message" *ngIf="showEmptyMessage">
        {{ emptyResultMessage }}
    </div>
    <ul *ngIf="searchResult.length" class="search-results">
        <li *ngFor="let result of searchResult; let first = first" [innerHTML]="result.username || result | highlight : searchText.value"
            (keydown)="keyPressedOnSearchResult($event)" [class.firstSearchResult]="first" tabindex="-1" [searchResultSelect]="result"
            (searchElementSelected)="searchResultSelected($event)">
        </li>
    </ul>
</div>
